@import './base.css';

/* #app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem 2rem;
  font-weight: normal;
} */

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
/* 
.el-checkbox {
  --el-checkbox-checked-bg-color: var(--color-main);
  --el-checkbox-checked-input-border-color: var(--color-main);
  --el-checkbox-checked-text-color: var(--color-main);
}

.el-checkbox__inner:hover {
  border-color: var(--color-main);
  background-color: var(--color-main-transparent);
}

.el-button {
  --el-button-outline-color: var(--color-main-opaque);
}

.el-input .el-input__wrapper {
  box-shadow: unset;
  border-radius: unset;
}

.el-input-number {
  width: 120px;
  height: 35px;
}

.el-input .el-input__wrapper {
  background-color: #fff;
}

.el-input__wrapper:hover,
.el-input__wrapper.is-focus {
  box-shadow: 0 0 2px var(--color-main) inset;
}

.el-input-number__decrease:hover,
.el-input-number__increase:hover {
  color: var(--color-main);
}

.el-input-number__decrease:hover ~ .el-input:not(.is-disabled) .el-input__wrapper,
.el-input-number__increase:hover ~ .el-input:not(.is-disabled) .el-input__wrapper {
  box-shadow: 0 0 0 1px var(--color-main) inset;
}

.el-input-number__increase {
  border-left: unset;
}

.el-input-number__decrease {
  border-right: unset;
} */

.opaque {
  color: rgba(0, 0, 0, 0.5);
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-center {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.top-margin {
  margin-top: 1rem;
}

/* @media screen and (min-width: 1250px) {
  #app {
    padding: 0;
  }
} */

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
